Repository Vijay431/npm-package-automata: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --fix .

branch config updated
  .github/workflows/pull-request.yml
Due: none

github config updates
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
Due: none

github config updates
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  GitVersion.yml
Due: none

GitVersion config updated
  GitVersion.yml
Due: none

Major version bump
  .github/workflows/publish.yml
  .github/workflows/pull-request.yml
  GitVersion.yml
  index.js
  package-lock.json
  package.json
Due: eslint, prettier --fix .

1.0.6
  GitVersion.yml
Due: none

version revert
  package.json
Due: prettier --fix .

release.yml added
  .github/workflows/release.yml
Due: none

GitVersion updates
  GitVersion.yml
Due: none

config updates
  .github/workflows/release.yml
  GitVersion.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --fix .: (any of: *.js) or (any of: *.json)
